/* deleted standart style for tags */

h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #434455;
}

}
.container-defolt{
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
  display: flex;
}
.header-nav{
  display: flex;
  align-items: center;
}
.nav-ul{
  display: flex;
  gap: 40px;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.header {
  border-bottom: 1px solid #E7E9FC;
}
.section {
  padding: 120px 0px 120px 0;
}
.visually-hidden{
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.second-section-ul {
  display: flex;
  gap: 24px;
}
.first-li-in-ul{
  flex-basis: calc((100% - 72px)/ 4);
}
.portfolio-block{
  
  width: calc ((100% - 48px) / 3);
}
.portfolio-container{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}   
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-menu-link,
.header-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.address-ul{
  display: flex;
  gap: 40px;
}
.header-menu-link:hover {
  color: #404bbf; 
}
.header-menu-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  font-size: 0;
}
.address-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  padding: 24px 0;
}
.address-link {
  color: #434455;
}
.address-link:hover {
  color: #404bbf
}
.address-link:focus {
  color: #404bbf 
}
.main-section-h {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
}
.main-section {
  background: #2E2F42;
  font-size: 0;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  padding: 188px 0;
}
.main-section-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.main-section-button:hover {
  background-color: #404BBF;
}
.main-section-button:focus {
  background-color: #404BBF;
}
.main-values-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.main-values-item-description{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-team {
  background-color: #F4F4FD;
}
.main-team-list {
  background: #FFFFFF;
}
.main-team {
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-size: 36px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-team-ul{
  display: flex;
  gap: 24px;
}
.first-li-our-team{
   width: calc((100% - 72px) / 4);
   border-radius: 0px 0px 4px 4px;
}
.our-team-div{
  padding: 32px 0;
}
.main-team-name{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.main-team-name-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.main-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-ul{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.main-portfolio-function {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.main-portfolio-function-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2E2F42;
  padding: 100px 0;
  display: inline-block;
}
.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  display: inline-block;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: inline-block;
}
